/*
body {
    font-family: "Source Sans Pro", "Trebuchet MS", "Lucida Grande", "Bitstream Vera Sans", "Helvetica Neue", sans-serif;
    margin: 0;
    color: #333;
    height: 100%;
}
*/




body {
    font-family: Fakt,sans-serif;
    font-size: 18px;
    line-height: 1.2;
    background-color: #fff;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5 {
    padding: 0;
    margin: 0;
}

.flex {
    display: flex;
}

.flex-down {
    display: flex;
    flex-direction: column;
}


#title-matter {
    width: 100%;
    align-items: center;
}

.verticalLine {
  border-left: thick solid #ff0000;
}

#main-content {
  background-image: url(https://i.pinimg.com/736x/59/10/4b/59104b588874f168a9c50fb4bd2eaae4.jpg);

}

#slide-content {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    background-image: url(https://i.pinimg.com/736x/59/10/4b/59104b588874f168a9c50fb4bd2eaae4.jpg);
}

#slide-detail {
  background-image: url(https://i.pinimg.com/736x/59/10/4b/59104b588874f168a9c50fb4bd2eaae4.jpg);
}



#app {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  padding: 30;
  display: flex;
  flex-direction: column;
}

#tooltip {
  position: absolute;
  pointer-events: none;
  background: #ffd0cf;
  color: white;
  border-radius: 10px;
  padding: 10px;
  min-width: 150px;
}